
@import url("https://use.typekit.net/end1awt.css");
@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    --primary-color: rgb(0, 150, 58);
    --secondary-color: rgb(111, 196, 18);
    --tertiary-color: rgb(0, 76, 38);
    --white-color: rgb(255, 255, 255);
    --white-color-alpha: rgba(255, 255, 255, 0.5);
    --tertiary-color-alpha: rgba(0, 76, 38, 0.5);
    --dark-color: rgb(34, 34, 34);
    --dark-color-alpha: rgba(34, 34, 34, 0.8);
    --primary-font: 'poppins', sans-serif;
    --primary-font-weight-light: 200;
    --primary-font-weight-normal: 400;
    --primary-font-weight-bold: 700;
    --gutter: 15px;
}

::-webkit-scrollbar { display: none; }

// components
@import '../components/loading/loading';
@import '../components/header/header';
@import '../components/main/main';
@import '../components/footer/footer';
@import '../components/form/form';

// blocks
@import '../blocks/hero/hero';
@import '../blocks/heading/heading';
@import '../blocks/breadcrumbs/breadcrumbs';
@import '../blocks/cards/cards';
@import '../blocks/text/text';
@import '../blocks/image/image';
@import '../blocks/split/split';
@import '../blocks/form/form';
@import '../blocks/embed/embed';
@import '../blocks/jumbotron/jumbotron';
@import '../blocks/figures/figures';

html {
    body {
        font-family: var(--primary-font);
        background-color: var(--white-color);
    }
}

// svg
.sizeInd {
    &::after {
        content: "xs";
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
            content: "sm";
        }
        @media (min-width: map-get($grid-breakpoints, "md")) {
            content: "md";
        }
        @media (min-width: map-get($grid-breakpoints, "lg")) {
            content: "lg";
        }
        @media (min-width: map-get($grid-breakpoints, "xl")) {
            content: "xl";
        }
        @media (min-width: map-get($grid-breakpoints, "xxl")) {
            content: "xxl";
        }
    }
}